body{
    background-color:#1D5C63;
}
#container{
width: 900px;
height: 550px;

margin: 8px auto;
border-radius: 5px;
}
#calculator{
    background-color: #eaedef;
   
     width: 320px;
    height: 460px;
    margin: 0 auto;
    border-radius: 5px;
    /* top: 20px;
    position: relative;
   
    box-shadow: 0 4px  8px 0 rgba(0,0,0,0.2) ,0 6px 20px 0 rgba(0, 0, 0 ,0.19); */
}
#result{
    height: 80px;
   
}
#keyboard{
    height: 370px;
}
#history{
    text-align: right;
    font-size: 18px;
    color: #919191;
    margin: 1px 8px ;
    padding-top: 3px;

}
#output{
    text-align: right;
    font-size: 25px;
    margin:4px 10px;
  



}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 13px;
    float: left;
    border-radius: 50px;
    border-width: 0;
    font-weight: bold;
    font-size:17px ;

}
/* .number, .empty{
    background-color: #eaedef;
} */
.operator{
    background-color: #dce9f2;
    /* font-size: 21px; */
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
/* .operator:focus, .number:focus, .empty:focus{
    outline: 500px;
} */

button:nth-child(4){
    font-size: 21px;
    background-color:#20b2aa ;
}
button:nth-child(8){
    font-size: 21px;
    background-color:#ffa500 ;
}
button:nth-child(12){
    font-size: 21px;
    background-color:#f08080 ;
}
button:nth-child(16){
    font-size: 21px;
    background-color:#7d93e0 ;
}
button:nth-child(20){
    font-size: 21px;
    background-color:#9477af ;
}




